<ion-content>

  <div class="container">

    <div class="header">
      <h2>Adicionar Filho 👶</h2>
      <p>Cadastre uma nova criança na caderneta</p>
    </div>

    <div class="card">

      <ion-item fill="outline">
        <ion-label position="floating">Nome da criança</ion-label>
        <ion-input [(ngModel)]="nome"></ion-input>
      </ion-item>

      <ion-item fill="outline">
        <ion-label position="floating">Idade</ion-label>
        <ion-input type="number" [(ngModel)]="idade"></ion-input>
      </ion-item>

      <ion-button expand="block" class="btn-salvar" (click)="salvar()">
        Salvar filho
      </ion-button>

    </div>

  </div>

</ion-content>