.container {
  padding: 25px;
  max-width: 420px;
  margin: auto;
}

.header {
  text-align: center;
  margin-bottom: 25px;
}

.logo-img {
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

.header h1 {
  font-family: "Archivo", arial, sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}

.header p {
  font-size: 16px;
  font-family: "Archivo", arial, sans-serif;
  font-weight: 600;
  color: var(--marrom);
  opacity: 0.8;
  // margin-top: 5px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

ion-item {
  margin-bottom: 12px;
  --border-radius: 10px;
}

.btn-login {
  --background: var(--laranja);
  --color: white;
  height: 48px;
  border-radius: 10px;
  font-weight: bold;
  text-transform: none;
  margin-top: 10px;
}

.link {
  font-family: "Google Sans", arial, sans-serif;
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
  font-size: 14px;
}

.link a {
  color: var(--verde);
  font-family: "Google Sans", arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.color-labels {
  font-weight: 500;
  font-family: "Google Sans", arial, sans-serif;
  color: var(--marrom);
}