<ion-content>
  <div class="container">

    <div class="header">
      <img src="assets/img/003-logo.png" class="logo-img" />
      <h1>Seja bem-vindo de volta</h1>
      <p>Faça login na sua conta</p>
    </div>

    <div class="card">

      <ion-item fill="outline">
        <ion-label class="color-labels" position="floating">E-mail</ion-label>
        <ion-input [(ngModel)]="email" type="email"></ion-input>
      </ion-item>

      <ion-item fill="outline">
        <ion-label class="color-labels" position="floating">Senha</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>

      <ion-button expand="block" class="btn-login" (click)="login()">
        Entrar
      </ion-button>

      <p class="link">
        Não tem conta? <a routerLink="/register">Criar agora</a>
      </p>

    </div>

  </div>
</ion-content>