<ion-content [fullscreen]="true" class="splash-content">

  <div class="bg-decor">
    <div class="blob verde"></div>
    <div class="blob amarelo"></div>
    <div class="blob laranja"></div>
  </div>

  <div class="content">
    <div class="logo">
      <img src="assets/img/003-logo.png" class="logo-img" />
      <h1>Caderneta Digital</h1>
      <p>Tenha o histórico vacinal dos seus filhos sempre à mão e fique por dentro das campanhas de vacinação.</p>
    </div>

    <div class="loader"></div>
  </div>

</ion-content>