ion-content {
  --background: #ffffff;
  font-family: "Archivo", arial, sans-serif;
}

ion-title {
  font-family: "Google Sans", arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--marrom);
}


/* HEADER */
.header {
  padding: 20px;
}

.header h2 {
  font-family: "Archivo", arial, sans-serif;
  margin: 0;
  color: #473C33;
}

.header p {
  margin: 5px 0 0 0;
  color: #473C33;
  opacity: 0.7;
}

/* CARDS */
.cards {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}

.card {
  flex: 1;
  padding: 15px;
  border-radius: 14px;
  color: #fff;
  text-align: center;
}

.card h3 {
  margin: 0;
  font-size: 22px;
}

.card p {
  margin: 5px 0 0 0;
  font-size: 12px;
}

.verde {
  background: var(--verde);
}

.amarelo {
  background: var(--amarelo);
}

.laranja {
  background: var(--laranja);
}

/* CAMPANHAS */
.campaigns {
  padding: 20px;
}

.campaign-card {
  background: #f4f2e7;
  border-left: 5px solid #ABC270;
  padding: 16px;
  border-radius: 14px;
  margin-bottom: 12px;
}

.campaign-card h4 {
  margin: 0 0 6px 0;
  color: #473C33;
}

.campaign-card p {
  margin: 0 0 8px 0;
  color: #473C33;
  opacity: 0.8;
}

.campaign-card span {
  font-size: 12px;
  color: #473C33;
}

/* FILHOS */
.section {
  padding: 20px;
}

.section h3 {
  color: #473C33;
  margin-bottom: 10px;
}

.child-card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px;
  border-radius: 12px;
  background: #f8f8f8;
  margin-bottom: 10px;
  transition: background 0.2s ease;
  cursor: pointer;
}

.child-card:hover {
  background: #f1f3ea;
}

.child-info {
  flex: 1;
}

.avatar {
  width: 44px;
  height: 44px;
  background: var(--verde);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.child-card ion-badge {
  text-transform: uppercase;
  font-size: 11px;
}


.actions {
  padding: 20px;
}

.btn-primary {
  --background: var(--verde);
  --border-radius: 10px;
  margin-bottom: 10px;
  color: white;
}

.btn-secondary {
  --background: var(--marrom);
  --border-radius: 10px;
  color: white;
}

.form {
  padding: 15px 20px;
}

.btn-save {
  --background: var(--verde);
  --color: white;
  margin-top: 10px;
  height: 45px;
  border-radius: 10px;
}

/* TOOLBAR */
ion-toolbar {
  --background: var(--verde);
  --color: white;
}

ion-toolbar ion-title {
  color: white;
  font-weight: 600;
}

ion-button[slot="start"] {
  --color: white;
}
